/*--ROOT--*/
body{
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
/*--HEADER--*/
header > ul > li > a{
    color: #fff;
    font-size: 10vmin;
}
header > ul > li{
    list-style: none;
    text-align: center;
    margin: 2vw;
}
header > ul{
    margin: 0;
    padding: 0;
}
header{
    background-color: #140c27;
    padding: 3vw;
}
@media (min-width:501px) and (max-width:1200px){
    header > ul > li > a{
        font-size:5vmin;
    }
    header > ul{
        display:flex;
        justify-content:space-around;
    }
    header{
        padding: 2vw;
    }
}
@media (min-width:1201px){
    header > ul > li > a{
        font-size: 4vmin;
    }
    header > ul{
        display:flex;
        justify-content:start;
    }
    header{
        padding: 1vmin;
    }
}
/*--MAIN--*/
div.main{
    background-size: auto 120%;
    background-position: center;
    background-image: url(../media/img/back_main.jpg);
    padding-top: 10%;
    padding-bottom: 10%;
}
div.main > p{
    color: #fff;
    filter: drop-shadow(0px 0px 20px #000);
    font-size: 250%;
    text-align: center;
    font-weight: bold;
}
@media (min-width:501px) and (max-width:1200px){
    div.main{
        background-size: auto 120%;
        height: 40vh
    }
    div.main > p{
        font-size: 450%;
    }
}
@media (min-width:1201px){
    div.main{
        background-size: 120% auto;
        height: 40vh
    }
    div.main > p{
        font-size: 550%;
    }
}
/*--MOD_1--*/
.mod_1{
    font-size: 4vmin;
    background-color: #4e56a8;
    padding: 4vmin;
    display:grid;
    grid-template-columns:[col_1] auto [col_2] auto [col_end] ;
    grid-template-rows:[row_1] auto [row_2] auto [row_end];
    grid-template-areas:
    'block_1 block_2'
    'block_3 block_4'
    ;
}
.mod_1 > p{
    color: #fff;
    margin: 1vmin;
}
.mod_1 > p:nth-of-type(1){
    grid-area: block_1;
}
.mod_1 > p:nth-of-type(2){
    grid-area: block_2;
}
.mod_1 > p:nth-of-type(3){
    text-align: center;
    font-weight: bold;
    grid-area: block_3;
}
.mod_1 > p:nth-of-type(4){
    text-align: center;
    font-weight: bold;
    grid-area: block_4;
}
@media (max-width:500px){
    .mod_1{
    display:grid;
    grid-template-columns:[col_1] auto [col_end];
    grid-template-rows:[row_1] auto [row_2] auto [row_3] auto [row_4] auto [row_end];
    grid-template-areas:
    'block_1'
    'block_3'
    'block_2'
    'block_4'
    ;
    }
}
/*--MOD_2--*/
.mod_2{
    font-size: 3vmin;
    padding: 4vmin;
    display:grid;
    grid-template-columns:[col_1] auto [col_2] auto [col_end] ;
    grid-template-rows:[row_1] auto [row_2] auto [row_end];
    grid-template-areas:
    'block_1 block_2'
    'block_3 block_2'
    ;
}
div.mod_2 > h2{
    grid-area: block_1;
    text-align: center;
}
div.mod_2 > ul{
    grid-area: block_2;
}
div.mod_2 > p{
    grid-area: block_3;
    text-align: center;
}
div.mod_2 > p > a{
    text-decoration: underline;
    color: #000;
}
@media (max-width:500px){
    .mod_2{
    display:grid;
    grid-template-columns:[col_1] auto [col_end];
    grid-template-rows:[row_1] auto [row_2] auto [row_3] auto [row_end];
    grid-template-areas:
    'block_1'
    'block_2'
    'block_3'
    ;
    }
}
/*--FOOTER--*/
footer{
    background-color: #140c27;
    display:grid;
    grid-template-rows:[row_1] 1fr [row_2] 2fr [row_3] 2fr [row_4] 2fr [row_5] 1fr [row_end];
    grid-template-areas:
    'main_1'
    'main_2'
    'main_3'
    'main_4'
    'dop'
    ;
}
footer > ul {
    margin: 0;
    padding: 0;
    text-align: center;
}
footer > ul > li{
    font-size: 3vmin;
    list-style-type: none;
    margin: 4vmin;
}
footer > ul > li > a{
    text-decoration: underline;
    color: #fff;
}
footer > h2{
    font-size: 5vmin;
    color: #fff;
    margin: auto;
    text-align: center;
    grid-area: main_1;
}
footer > ul.no1{
    margin: auto;
    grid-area: main_2;
}
footer > ul.no2{
    margin: auto;
    grid-area: main_3;
}
footer > ul.no3{
    margin: auto;
    grid-area: main_4;
}
footer > p{
    font-size: 3vmin;
    color:#fff;
    grid-area: dop;
    text-align: center;
}
@media (min-width:501px) and (max-width:1200px){
    footer{
        display:grid;
        grid-template-columns:[col_1] 1fr [col_2] 1fr [col_end] ;
        grid-template-rows:[row_1] 2fr [row_2] 2fr [row_3] 1fr [row_end];
        grid-template-areas:
        'main_1 main_2'
        'main_3 main_4'
        'dop dop'
        ;
    }
    footer > p{
        margin-top: 7vmin;
        margin-bottom: 7vmin;
    }
}
@media (min-width:1201px){
    footer{
    display:grid;
    grid-template-columns:[col_1] auto [col_2] auto [col_3] auto [col_4] auto [col_end];
    grid-template-rows:[row_1] 5fr [row_2] 1fr [row_end];
    grid-template-areas:
    'main_1 main_2 main_3 main_4'
    'dop dop dop dop'
    ;
}
}